/* Brand */

.Brand {
  background: #fff;
  color: #000;
  text-decoration: none;
}

a {
  color: #e31b23;
}

.BoldLinks a {
  font-weight: 900;
}

a:hover {
  color: #000;
}

h1,
h2,
h3,
.btn {
  font-weight: 900;
}

/* Nav */

#Redlid .nav-link,
#Redlid .FAQBtn {
  color: #e51b24;
  font-weight: 900;
  text-transform: uppercase;
}

#Redlid .nav-link:hover,
#Redlid .FAQBtn:hover {
  color: #000;
}

#ManageServicesBtn {
  margin-left: auto;
  margin-right: 10px;
  border: 2px solid #000;
  color: #000;
  border-radius: 0 9px 0 9px;
  background: #fff;
}

#ManageServicesBtn:hover,
.navbar-light .navbar-toggler:hover {
  border-color: #e31b23;
  color: #e31b23;
  background: #fff;
}

.navbar-light .navbar-toggler {
  border: 2px solid #000;
  color: #000;
  border-radius: 0 9px 0 9px;
  padding: 2px 6px;
  background: #fff;
}

.navbar-light .navbar-toggler-icon {
  background-image: var(--asset-url-iconmonstr-menu-1);
  background-size: 50%;
}

.navbar-expand-lg {
  justify-content: space-between;
}

.navbar-brand {
  left: 12px;
}

.CollapsableNav {
  text-align: right;
  margin-top: 15px;
}

.CollapsableNav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  margin: 15px 10px 0 0;
}

.navbar h1 {
  display: none;
  text-transform: uppercase;
  margin-top: 7px;
  margin-left: 7px;
  font-size: 1.2rem;
}

#BinsNav,
#SkipsNav {
  background: #459e52;
}

/* Nav Response*/

@media (min-width: 650px) {
  .navbar h1 {
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg {
    flex-direction: row-reverse;
    justify-content: end;
  }

  .CollapsableNav {
    position: absolute;
    right: 220px;
  }

  .CollapsableNav a {
    margin: 0 10px;
  }

  .CollapsableNav.skips {
    width: 600px;
  }

  #Redlid .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-nav {
    margin-top: 0px;
  }
}

/* Tiny things */

@media (max-width: 380px) {
  nav #ManageServicesBtn {
    width: 92px;
    height: 39px;
    line-height: 14px;
    font-size: 90%;
    padding: 3px 0;
  }

  .navbar-brand img {
    margin-top: 0px;
  }
}

/* Landing Page */

#LandingPage {
  display: flex;
  justify-content: center;
}

#LandingPage #ManageServicesBtn {
  margin-right: 0;
}

/* Landing Page Nav Assurance Message*/

.navbar-brand span {
  display: none;
}

@media (min-width: 960px) {
  .navbar-brand span {
    display: inline-block;
    padding-top: 8px;
    font-size: 1rem;
  }
}

.LandingPagePanel {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 50px 0 0 0;
}

@media (min-width: 768px) {
  .LandingPagePanel {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 9vh 0;
  }
}

.LandingPagePanel a {
  text-align: center;
  background: #fff;
  width: 100%;
  height: 80%;
  text-decoration: none;
}

.LandingPagePanel h1 {
  color: #000;
  text-transform: uppercase;
  font-size: calc(1rem + 1.5vw);
}

.LandingPagePanel img {
  padding: 0 10% 30px 10%;
}

.LandingPagePanel p {
  color: #000;
}

/* Buttons */

.btn {
  font-weight: 900;
  text-transform: uppercase;
  border: 3px solid;
}

.btn-primary {
  background-color: #e31b23;
  border-color: #e31b23;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #e31b23;
}

.btn-primary:hover {
  background-color: #fff;
  border-color: #e31b23;
  color: #e31b23;
  text-transform: uppercase;
  border: 3px solid;
}

.btn-outline-primary {
  background-color: #fff;
  border-color: #e31b23;
  color: #e31b23;
  text-transform: uppercase;
  border: 3px solid #e31b23;
}

.btn-outline-primary:hover {
  background-color: #e31b23 !important;
  border-color: #e31b23 !important;
  color: #fff !important;
}

a:hover .btn {
  background-color: #fff;
  border-color: #e31b23;
  color: #e31b23;
  text-transform: uppercase;
  border: 3px solid;
}

.btn-link {
  display: inline-block;
  margin: 0;
  padding: 0px 0px 5px 9px;
  text-decoration: none;
  border: none;
  color: #e31b23;
  font-weight: normal;
  text-transform: none;
}

/* Forms */

.TermsModalBtn {
  cursor: pointer;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 900;
  color: #000;
}

.TermsCheckbox {
  display: inline-block;
  padding-top: 15px;
  margin-right: -6px;
}

.TermsModalBtn,
.TermsCheckbox {
  display: inline-block;
}

.OrderformHead {
  text-align: center;
}

@media (min-width: 768px) {
  .OrderformHead {
    text-align: right;
  }
}

.SplitHeading h1 {
  text-align: center;
}

@media (min-width: 768px) {
  .SplitHeading h1 {
    text-align: left;
  }
}

/* Footer */

#Footer a {
  text-decoration: none;
  text-transform: uppercase;
}

#Footer .FooterTermsBtn {
  padding: 0;
  border: 0;
  color: #e31b23;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}

#Footer .FooterTermsBtn:hover {
  color: #000;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Footer table {
  width: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 900;
}

.Footer {
  background-image: var(--asset-url-footer-truck), var(--asset-url-redlid-grass);
  background-repeat: no-repeat, repeat-x;
  background-position: bottom 0 right 0;
  background-size: auto 200px, auto 200px;
  position: bottom 0;
  margin-top: auto;
  padding-bottom: 220px;
  padding-top: 60px;
}

.Footer.BinsBags {
  background-image: var(--asset-url-footer-binbag), var(--asset-url-redlid-grass);
}

.FooterContents {
  max-width: 1200px;
}

.Footer h2 {
  text-align: center;
  background: #459e52;
  padding: 20px;
  margin: 0 0 30px;
  color: #fff;
}

@media (min-width: 480px) {
  .Footer {
    padding-bottom: 160px;
  }
}

@media (min-width: 768px) {
  .Footer {
    background-size: auto 250px, auto 250px;
  }
  .Footer h2 {
    margin: 0 0 60px;
  }
}

/* Tiny things */

@media (max-width: 380px) {
  .FooterContents {
    padding: 0 30px 0;
  }
}

/* PSPs */

.Header h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0 30px;
  width: 100%;
}

.Header {
  text-align: center;
  background: #459e52;
  padding: 20px;
  color: #fff;
}

.Banner {
  color: red;
  font-size: 5rem;
}
@media (max-width: 500px) {
  .Banner {
    font-size: calc(2rem + 1.5vw);
  }
}

.Description {
  text-align: center;
  padding: 40px 0;
}

.Product {
  text-decoration: none;
  margin-bottom: 90px;
  text-align: center;
  -webkit-transform: perspective(1 px) translateZ(0);
  transform: perspective(1 px) translateZ(0);
}

.Product h2 {
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.Product i {
  text-align: center;
  display: block;
}

.Product img {
  margin-top: 20px;
  width: 80%;
  max-width: 350px;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

/* Tiny things */

@media (max-width: 767px) {
  img.BinCropper {
    margin-top: -40px;
    z-index: -1;
    position: relative;
  }
}

.Product p {
  color: #000;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

@media (min-width: 768px) {
  .Description {
    text-align: left;
  }

  .Product {
    margin-bottom: 90px;
    text-align: left;
  }

  .Product img {
    width: 100%;
    max-width: 100%;
    margin-top: -60px;
  }

  .Product h2 {
    text-align: left;
  }

  .Product i {
    text-align: left;
  }

  .Product p {
    margin: 10px 0 30px;
  }
}

@media (min-width: 992px) {
  .Product {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .Product img {
    margin-top: -100px;
  }

  .Product h2 {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .Product {
    margin-bottom: 100px;
  }

  .Product img {
    margin-top: -180px;
  }
}

/* How it works */

#HowItWorks h2 {
  margin: 60px 0 60px;
}

#AboutUs {
  margin-top: 60px;
}

.HowItWorks .stronger p {
  text-align: center;
  color: #e31b23;
}

@media (min-width: 768px) {
  .HowItWorks h2 {
    margin-bottom: 40px;
  }
}

/* PDP ORDER pages */

.pdptop * {
  text-align: center;
}

.pdptop img {
  max-width: 512px;
  display: block;
  margin: auto;
}

#pdp form {
  max-width: 760px;
  margin: auto;
}

.form-control {
  margin-top: 30px;
  border: #000 2px solid;
  border-radius: 0 5px;
}

.form-check-input[type='radio'] {
  border-width: medium;
  border-color: darkgray;
}
.form-check-input[type='radio']:checked {
  border-width: inherit;
  border-color: inherit;
}

#deliveryDate label {
  margin-top: 20px;
}

#deliveryDate input {
  text-transform: uppercase;
}

#deliveryDate .form-control {
  margin-top: 0px;
}

input {
  color: #000;
  font-weight: 900;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  color: #e31b23;
}

.blacklabel {
  color: #000;
  margin: 30px auto 30px;
}

#SkipSize .col-12 {
  text-align: center;
}

@media (max-width: 576px) {
  #SkipSize {
    position: relative;
  }

  #SkipSize img {
    margin: 10px 0 -30px 0;
    max-width: 56%;
  }

  #SkipSize .form-check {
    max-width: 41%;
    margin: -20px 0 0;
  }

  #SkipSize .col-12 {
    text-align: right;
    margin-bottom: 40px;
    margin-top: -20px;
  }

  #SkipSize small {
    left: 0;
    position: absolute;
  }
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  color: #000;
  transform: scale(0.6) translateY(-0.5rem) translateX(0.15rem);
}

.pdpHelptext {
  margin: 30px auto 0;
  padding-bottom: 0;
  max-width: 760px;
}

.SkipUnloadTruck img {
  width: 100%;
  margin: 15px 0 0;
  border-radius: 0px 9px 0 0;
  border: 2px solid #000;
  border-bottom: none;
}

.SkipUnloadTruck textarea {
  border-radius: 0 0 0 9px;
  margin: 0 0 15px;
  border-top: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.centered {
  margin: 20px 0 40px;
  text-align: center;
}

.noTopMargin {
  margin-top: 0;
}

/* Blog Posts */

#BlogPost {
  text-align: center;
}

#BlogPost p,
#BlogPost li {
  text-align: left;
}

#BlogPost img {
  max-width: 512px;
}

#BlogPost .list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #e51b24;
  border-color: #e51b24;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}
